.table{
    width: 80%;
}
.bodySec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.infoSis{
    margin-bottom: 5rem;
}
.home{
    background-color: rgb(223, 233, 201);
}